<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>offlinecardpayment</name>
            <displayName><![CDATA[SBM Module De Paiement]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Proc&egrave;de le paiement &agrave; travers la SBM]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>